
.small-tree-icon{
    width: 13rem !important;
    height: 13rem !important;
    margin-bottom: -2rem !important;
    margin-left: -2.5rem;
}

.small-tree-icon-wrapper{
    overflow: hidden !important;
    height: 8rem !important;
    width: 8rem !important;
}